[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/chris/Desktop/game.of.thrones.s05e05.720p.hdtv.x264-0sec.mkv]
row=3
col=1

[/home/chris/Desktop/Muppets.Most.Wanted.2014.1080p.BluRay.x264.YIFY.mp4]
row=1
col=0

[/home/chris/Desktop/Hello_Chris.txt]
row=2
col=0

[/home/chris/Desktop/Silicon.Valley.S02E02.HDTV.x264-ASAP.mp4]
row=5
col=0

[/home/chris/Desktop/Game.of.Thrones.S05E01.720p.HDTV.x264-IMMERSE.mkv]
row=7
col=0

[/home/chris/Desktop/Game.of.Thrones.S05E02.720p.HDTV.x264-IMMERSE.mkv]
row=4
col=0

[/home/chris/Desktop/PanchoVia.jpg]
row=8
col=0

[/home/chris/Desktop/Frozen.2013.1080p.BluRay.x264.YIFY.mp4]
row=1
col=1

[/home/chris/Desktop/103Copy]
row=0
col=1

[/home/chris/Desktop/Wreck.it.Ralph.2012.1080p.BrRip.x264.BOKUTOX.YIFY.mp4]
row=2
col=1

[/home/chris/Desktop/Monty Python's Life of Brian (1979).DVDRip.XviD.Ekolb.avi]
row=0
col=0

[/home/chris/Desktop/Silicon.Valley.S02E01.HDTV.x264-ASAP.mp4]
row=6
col=0

[/home/chris/Desktop/game.of.thrones.s05e03.720p.hdtv.x264-0sec.mkv]
row=3
col=0

[/home/chris/Desktop/357]
row=9
col=0

[/home/chris/Desktop/357Copy]
row=10
col=0

